<nav class="cyan lighten-3" ng-controller="NavbarController as vm">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo">django-angular</a>
    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {% endif %}
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="/">Home</a></li>
      {% if user.is_authenticated %}
        <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
      {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
